body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282d35;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  color: #deebf8;
}
.nav-header {
  background: #21222a;
  color: #deebf8;
}
.app-link,
.nav-link {
  color: #deebf8;
}
.app-link:hover,
.nav-link:hover {
  color: rgb(222, 235, 248, 0.7);
  transition: 0.5s;
}
.list-group {
  display: inline-block;
  list-style-type: circle;
}
.list-group-item::before {
  content: "●";
  color: #61dafb;
  margin-right: 0.75rem;
}
.list-group-item {
  background-color: transparent;
  border: none;
  color: #fff;
}
.overlay {
  position: absolute;
  top: 7vw;
  left: 65%;
  mix-blend-mode: luminosity;
  background-image: url("/public/bg-img.png");
  /* background-attachment: fixed; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 60%;
  height: 100%;
  opacity: 0.1;
}
main {
  height: 100vh;
}
